langchain
langchain-core
langchain-community
langchain-huggingface
langchain-experimental
langchainhub
langchain-openai
langgraph
pymupdf
langchain-pinecone
openai
#sentence-transformers
pandas
psycopg2-binary
fastapi
uvicorn
requests
python-dotenv
datasets
rouge-score
#ragas
nltk
streamlit
